<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BloodBank</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>Service.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdmin</display-name>
    <servlet-name>AddAdmin</servlet-name>
    <servlet-class>Service.AddAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdmin</servlet-name>
    <url-pattern>/AddAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTips</display-name>
    <servlet-name>AddTips</servlet-name>
    <servlet-class>Service.AddTips</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTips</servlet-name>
    <url-pattern>/AddTips</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BBLogin</display-name>
    <servlet-name>BBLogin</servlet-name>
    <servlet-class>Service.BBLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBLogin</servlet-name>
    <url-pattern>/BBLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBB</display-name>
    <servlet-name>AddBB</servlet-name>
    <servlet-class>Service.AddBB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBB</servlet-name>
    <url-pattern>/AddBB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>Service.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upd</display-name>
    <servlet-name>Upd</servlet-name>
    <servlet-class>Service.Upd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upd</servlet-name>
    <url-pattern>/Upd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>Service.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>Service.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyReq</display-name>
    <servlet-name>ApplyReq</servlet-name>
    <servlet-class>Service.ApplyReq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyReq</servlet-name>
    <url-pattern>/ApplyReq</url-pattern>
  </servlet-mapping>
</web-app>